/* Passage header (:: Title) */
.passage-code [class~='meta.harlowe3.passage.twee3'] [class~='punctuation.separator.twee3'] {
  color: #808080;
}

/* Hooks: |name>[ ... ] and closing bits */
.passage-code [class~='entity.name.tag.hook'] {
  color: #569cd6;
}
.passage-code [class~='meta.harlowe.hooks.twee3'] [class~='punctuation.separator.twee3'],
.passage-code [class~='meta.harlowe.collapsed.twee3'] [class~='punctuation.separator.twee3'],
.passage-code [class~='meta.harlowe.macroparens.twee3'] [class~='punctuation.separator.twee3'],
.passage-code [class~='meta.harlowe.macros.twee3'] [class~='punctuation.separator.twee3'] {
  color: #808080;
}

/* Harlowe specific types */
.passage-code [class~='entity.name.type'] {
  color: #4ec9b0;
} /* of, 's */
.passage-code [class~='meta.brace'] {
  color: #d4d4d4;
} /* () {} */

.passage-code [class~='constant.numeric.js'] {
  color: #b5cea8;
}
.passage-code [class~='constant.language.js'] {
  color: #4fc1ff;
}

/* HTML tags brackets (Harlowe wants gray brackets) */
.passage-code [class~='punctuation.definition.tag.begin.html'],
.passage-code [class~='punctuation.definition.tag.end.html'] {
  color: #808080;
} /* <, </, >, /> */

/* HTML strings & entities */
.passage-code [class~='punctuation.definition.string.begin.html'],
.passage-code [class~='punctuation.definition.string.end.html'] {
  color: #ce9178;
}
