.passage-code [class~='keyword'],
.passage-code [class~='keyword.control.flow.js'] {
  color: #c586c0;
}

/* SugarCube variable accessors */
.passage-code [class~='punctuation.accessor'] {
  color: #d4d4d4;
  opacity: 0.8;
}

/* HTML tags brackets (SugarCube wants purple/blue brackets) */
.passage-code [class~='punctuation.definition.tag.begin.html'],
.passage-code [class~='punctuation.definition.tag.end.html'] {
  color: #c586c0;
}
.passage-code [class~='meta.tag.other.html'][class~='punctuation.definition.tag.begin.html'],
.passage-code [class~='meta.tag.other.html'][class~='punctuation.definition.tag.end.html'] {
  color: #569cd6;
}

/* Embedded JSON configuration */
.passage-code [class~='source.json.embedded.sugarcube-2'] {
  background: rgba(197, 134, 192, 0.06);
}
